header {
    background-color: rebeccapurple;
    color: white;
    padding: 10px;
}

.primary-vert {
    display: flex;
    flex-direction: column;
}

.secondary {
    display: flex;
    justify-content:space-between;
}

.primary {
    background-color: white;
}

.text {
    border: 3px solid blue;
    padding: 10px;
    text-align: center;
}

#car {
    border-radius: 20% 5% 35% 5%;
    width: 50vw;
    padding: 8px;
    background-color: red;
}